@import "../variables.scss";
#footer {
  footer {
    background-color: var(--header, grey);
    // color: var(--background);
    width: 100%;
    height: max-content;
    padding: 30px;
    transition: 0.3s ease-in;
    box-shadow: 1px 1px 5px;

    .foot-con {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-direction: row;

      .logos-con {
        .xtrexLogo {
          height: 32px;
          width: 32px;
        }
      }
    }
    a {
      text-decoration: none;
      color: rgb(89, 178, 198);
      transition: 0.3s ease-in;
      &:hover {
        color: red;
      }
    }
    code {
      text-decoration: none;
      color: var(--primary);
      font-size: 1.2rem;
      transition: 0.3s;
      /*       &:hover {
        color: blue;
      } */
    }
  }
}
