@import "../../variables.scss";

.theory-con {
  color: var(--primary);
  .title-con {
    text-align: center;
    h2 {
      padding: 20px;
    }
  }

  .meeting {
    .imageGrids {
      .meeting1 {
        width: 100%;
        height: 50%;
        padding: 40px;
      }
    }
  }
}
