@import "../variables.scss";

.card {
  color: var(--primary);
  transition: 0.3s ease-in-out;
  .card-title {
    transition: 0.3s ease-in-out;
  }
  &:hover {
    //     .card-title {
    //       font-size: xx-large;
    //     }
    box-shadow: 3px 3px 20px black;
    background-color: lightblue;
    border-color: blue;
    border: 2px solid;
  }
}
