// Stylesheet for the home page
@import "../variables.scss";

.landing {
  color: var(--primary);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.members-con {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  .member {
    width: 20%;
    height: 320px;
    background-color: red;
    margin: 20px;
  }
}
