// Stylesheet for the home page
@import "../variables.scss";

.landing {
  color: var(--primary);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-sec {
  .proj-det-con {
    color: white;

    button {
      margin-top: 10vh;
    }
  }
}
