// Stylesheet for the home page
@import "../variables.scss";

.master-bg {
  background-image: url("/src/assets/images/bg/Background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .landing {
    color: var(--primary);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 10vh;
      visibility: hidden;
    }
    h4 {
      visibility: hidden;
    }
  }
}

.project-sec {
  .proj-det-con {
    color: white;

    button {
      margin-top: 10vh;
    }
  }
}
