@import "../variables.scss";

.litRev-con {
  color: var(--primary);
  .bg {
    background-image: url("/src/assets/images/bg/pink-blue-bg.jpg");
    height: 23vh;
    //     margin: 10px;
    width: 100%;

    .title {
      padding: 20px;
      h1 {
        font-size: 10vh;
        color: white;
        text-align: right;
        padding: 20px;
      }
      h5 {
        color: white;
        text-align: right;
        margin-top: -15px;
        padding-right: 20px;
      }
    }
  }
}
