@import "../variables.scss";
.project-con {
  color: var(--primary);
  .bg {
    background-image: url("/src/assets/images/bg/pink-blue-bg.jpg");
    height: 23vh;
    //     margin: 10px;
    width: 100%;

    .title {
      padding: 20px;
      h1 {
        font-size: 10vh;
        color: white;
        text-align: right;
        padding: 20px;
      }
      h5 {
        color: white;
        text-align: right;
        margin-top: -15px;
        padding-right: 20px;
      }
    }
  }

  .desc {
    p {
      padding: 30px;
      span {
        font-size: 5vh;
      }
    }
  }

  .proposal {
    display: flex;
    padding: 30px;
    .navigation {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 5px;
      p {
        padding: 5px;
      }

      button {
        padding: 5px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
        height: 5vh;
        box-shadow: 1px 1px 2px var(--secondary);
        transition: 0.2s ease-in-out;
        p {
          border: none;
        }

        &:hover {
          background-color: lightblue;
        }
      }
    }

    .propDesc {
      h2 {
        padding-left: 20px;
        color: rgb(104, 211, 230);
      }
      p {
        padding: 20px;
      }
    }
  }
}
