:root {
  --primary: black;
  --background: white;
  --secondary: blue;
  --shade: red;
  --header: aqua;

  --cardsShade: black;
  --cardsBg: inherit;
}

.dark {
  --primary: #e7f6f2;
  --background: #2c3333;
  --header: #395b64;
  --secondary: #a5c9ca;
  --shade: #6fedd6;

  // Personal
  --compo: rgb(129, 91, 233);
  --cardsBg: rgb(39, 38, 38);
  --cardsShade: grey;

  background-color: var(--background);
}

.darkRed {
  --primary: #ff0000;
  --background: #000000;
  --header: #3d0000;
  --secondary: #950101;
  // --shade: rgb(90, 88, 88);

  background-color: var(--background);
}

.brightLight {
  --primary: #45706b;
  --background: #cdf0ea;
  --secondary: #ecc5fb;
  --shade: #faf4b7;
  --header: #cdf0ea;
}
// Screen sizes
$small: 550px;
$medium: 800px;
